$green: hsla(145, 63%, 42%, 1);
$dark: hsla(223, 55%, 22%, 1);
$lite_color: hsla(0, 0%, 40%, 1);
$white: hsla(0, 100%, 100%, 1);
$gray: hsla(0, 0%, 93%, 1);
$dark_gray: hsla(0, 0%, 80%, 1);
$shadow: hsla(0, 0%, 0%, 0.2);
$box_shadow: 0 0.25rem 0.875rem hsla(0, 0%, 0%, 0.1); 